:root {
	--main-radius: 10px;

	--main-color: #bd3232;
	--main-colorgr: #bd3232;
	--main-colorhv:#bd3232;
	--main-colorscroll: #4f9002ab;
	--sec-color: #0482e3;
	--bg-success: #28a745;
	--bg-warning: #d39e00;
	--bg-danger: #dc3545;
	--bg-info: #17a2b8 !important
}

html, body {
	height: 100% !important;
}

.all-product {
	margin-left: 3px;
}

.bold {
	font-weight: bold;
}

.bottom-10 {
	margin-bottom: 10px;
}

.content {
	height: 100%;
	padding: 0.5rem 1rem;
	background-color:white;
	color: white;
	font-weight: bold;
	text-align: center;
}

.content-footer {
	padding: 0.5rem 1rem;
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	text-align: center;
}

.content-product {
	background-color: white; 
	margin-right: 0px !important;
}
.card-content {
	padding: 10px;
}

.center {
	text-align: center;
}

/*Container FLEX*/
.flex {
	width: 100%;
	padding-bottom: 10px !important;
	padding-right: 0px !important;
	display: flex;
}

.flex-in {
	width: 100%;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-right: 0px !important;
	display: flex;
}

.enter {
	display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.f-col-1,
.f-col-2,
.f-col-3,
.f-col-4,
.f-col-5,
.f-col-6,
.f-col-7,
.f-col-8,
.f-col-9,
.f-col-10,
.f-col {
	margin-right: 10px;
	overflow: hidden;
	position: relative;
}

.f-col-1 {
	flex: 10%;
}

.f-col-2 {
	flex: 20%;
}

.f-col-3 {
	flex: 30%;
}

.f-col-4 {
	flex: 40%;
}

.f-col-5 {
	flex: 50%;
}

.f-col-6 {
	flex: 60%;
}

.f-col-7 {
	flex: 70%;
}

.f-col-8 {
	flex: 80%;
}

.f-col-9 {
	flex: 90%;
}

.f-col-10 {
	flex: 95%;
}

.f-col {
	flex: 100%;
}

/*Styling Container*/
.f-float {
	box-shadow: 0px 0px 3px #b1b1b1;
	border-radius: 2px;
}

.f-float-round {
	box-shadow: 0px 0px 3px #b1b1b1;
	border-radius: 10px;
}

.f-bordered {
	border: 2px solid #3e3e4a;
	border-radius: 5px;
}

.footer {
   position:;
   bottom: 0px;
   width: 100%;
}

.form-balloony {
	width: 100%;
	border: 1px solid var(--main-color);
}

.h-100 {
	height: 100%;
}
.card {
	height: auto;
	width: 100%;
	border : 1px solid #ddd;
}
.head-card {
	background-color: var(--main-color);
	margin-right: 0px;
	padding: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
}
.content-card {
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 0px;
	border-radius: 10px;
	padding: 5px;
}


.content-image-product {
	margin-bottom: 39px !important;
	padding: 15px;
}

.kodeproduct {
	font-size: 12px;
}

.label {
	margin-bottom: 5px;
}

.mr-auto {
	margin-right: 20px !important;
}
.left-auto {
	margin-left: 20px !important;
}

.navbar-ballooney {
	background-color: #212529;
	color: white !important;
	opacity: 0.7;
}

.note {
	text-align: center;
	margin-top: 5%;
	color: white;
	font-size: 25px;
}
.pad-sd {
	padding: 5px !important;
}

.price {
	color: var(--main-color);
	font-weight: bold;
}
.productname {
	font-weight: bold;
	color: #5c5c3d;
}
.pad-content {
	padding-right: 0px; margin-right: 20px; margin-left: 20px;
}
.oren {
	color : #ff6600;
	font-size: 10px;
}
ul.sub-menu-container {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	list-style-type: none;
	padding: 0px;
}

ul.sub-menu-container li {
	margin: 0px 10px 2px 0px;
	float: left;
}

ul.sub-menu-container li a {
	margin: 0px;
	padding: 0px;
	color:#6c757d!important;
	text-decoration: none;
	cursor: pointer;
}

ul.sub-menu-container li.item:hover,
ul.sub-menu-container li.item.active {
	margin: 0px 10px 0px 0px;
	color: var(--main-color) !important;
	border-bottom: 2px solid;
}

ul.sub-menu-container li.item a:hover,
ul.sub-menu-container li.item.active a {
	color: var(--main-color) !important;
}
.sep {
	padding: 8px;
}

.search {
	text-align: center;
	color: white;
	margin-top: 40px;
}

.search-home {
	background-color: transparent;
	width: 100%;
	color: yellow;
	height: 45px;
	padding-left: 10px;
}
.title {
	font-weight: bold;
	font-size: 25px;
	color: #4d4d33;
}
.title-2 {
	font-weight: bold;
	font-size: 25px;
	color: var(--main-color);
}

@media only screen and (max-width: 700px) {
  #sidebar {
  	display: none;
  }
  .mr-auto {
  	margin-right: 5px !important;
  }
}

